.product-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.title {
    margin-left: 80px;
}

.title1 {
    font-size: 55px;
    margin-bottom: 0;
    color: chartreuse;
}

.title2 {
    margin-top: 10px;
    font-size: 45px;
    margin-bottom: 0;
}

.product-details {
    margin-top: 10px;
}

.button {
    background-color: rgb(14, 124, 14);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
}

.button:hover {
    color: rgb(14, 124, 14);
    background-color: white;
    border: 1px solid rgb(14, 124, 14);
}

.product-img {
    margin-left: 50px;
    margin-top: 50px;
}

.product-review {
    margin: 120px;
    text-align: center;
}

.review-title {
    margin: 10px auto;
    width: 70%;
    font-size: 28px;
    background-color: rgb(227, 248, 206);
    padding: 10px 0;
    border-radius: 10px;
    color: rgb(7, 124, 13);
}


@media only screen and (max-width:692px) {
    .product-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .title {
        margin: 15px;
    }

    .product-img {
        margin-left: 100px;
    }

    .product-review {
        margin: 50px;
    }
}