.routes {
    background-color: rgb(227, 248, 206);
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    font-weight: 500;
    padding: 30px 0;
}

.routes .route {
    margin-right: 50px;
}