.rechart {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 30px;
    gap: 50px;
}

.chart-title {
    text-align: center;
    padding-bottom: 20px;
    color: rgb(92, 170, 13);
}

@media only screen and (max-width:692px) {
    .rechart {
        grid-template-columns: 1fr;
    }
}